body {

    font-family: "sans-serif"
}


.matchName {

    color: indianred;
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;


}


.matchImage {
    width: 25%;
    display: inline-block;
    float: left;
    padding: 8%;
    margin-left: 6%;
    position: relative;
    border-style: solid;
    border-color: darkgrey;

}
*/

.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.section-header {
    font-family: "";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}


.match-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.match-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.match-row {
    display: flex;
}

.match-item {
    width: 25%;
}

.match-quantity {
    width: 35%;
}

.match-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.match-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.match-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.match-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.match-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}




body {

    font-family: "sans-serif"
}



h1 {
    text-align: center;
    font-size: 70px;
    margin-top: 5%;
    font-family: sans-serif;
}

h2 {
    color: rgb(63, 61, 61);
    text-align: center;
    font-size: 40px;
    margin-top: 6%;
    font-family: sans-serif;

}


h3 {
    color: rgb(63, 61, 61);
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
}

h4 {
    color: black;
    text-align: center;
    font-size: 15px;


}

.leftSideBar {
    width: 20px;
    float: left;
    height: 100%;
    background-color: darkgrey;
    display: inline-block;
    border-style: solid;
}



.matchName {
    color: indianred;
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;

}


.match{
    display: inline-block;
    float: left;
    width: 30%;
    margin-left: 5%;
    border: 1px solid black;
    text-align: center;
}

.match_img {
    width: 50%;
    display: inline-block;
    padding: 8%;
    margin-left: 6%;
    position: relative;

}


/* CSS til øvre navigationsmenu */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5d4954;
}

.logo {
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 75%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

